target/classes/.DS_Store
target/classes/application.properties
target/classes/org/.DS_Store
target/classes/org/roomie/.DS_Store
target/classes/org/roomie/library/Application.class
target/classes/org/roomie/library/data/config/DynamoDBConfig.class
target/classes/org/roomie/library/data/model/UserInfo.class
target/classes/org/roomie/library/data/repositories/UserInfoRepository.class
target/classes/org/roomie/library/web/RoomieController.class
target/classes/static/index.html
target/test-classes/application.properties
target/test-classes/org/roomie/library/ApplicationTest.class
target/classes/org/roomie/library/data/services/EmailSenderService.class
target/classes/org/roomie/library/data/services/SecureKeysService.class
target/classes/org/roomie/library/data/model/RoomieProfile.class
target/classes/org/roomie/library/data/model/RoomieProfile.class
target/classes/org/roomie/library/data/repositories/RoomieProfileRespository.class
target/classes/org/roomie/library/data/model/RoomieProfileFilterRequest.class
target/classes/org/roomie/library/data/repositories/RoomieProfileRespository.class
target/classes/org/roomie/library/data/services/DynamoDbRequestService.class
target/classes/org/roomie/library/data/services/AmazonClient.class
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
target/surefire-reports/TEST-org.roomie.library.ApplicationTest.xml
target/surefire-reports/org.roomie.library.ApplicationTest.txt